.sizzing {
    margin: 0;
    padding: 0;
}

.uiForm {
    font-size: 14px;
    position: relative;
    max-width: 100%;
    font-family: 'Roboto Thin' , sans-serif;
}


.uiForm .Fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
}

.uiForm .Fields>.Field:first-child {
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.uiForm .Field:last-child, .uiForm .Fields:last-child .Field {
    margin-bottom: 0;
}

.uiForm .Fields>.Field {
    padding: 0;
}

.uiForm .Fields .Field {
    clear: both;
    margin: 0;
}

.uiForm .Field .uiInput, .uiForm .Fields .Field .uiInput {
    width: 263px;
    max-width: 263px;
    min-width: 263px;
}

.uiInput {
    font-size: 14px !important;
}

.uiInput {
    position: relative;
    font-weight: 100;
    font-style: normal !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0,0,0,.87);
}

.uiForm .Field .uiInput input, .uiForm .Fields .Field .uiInput input {
    width: 200px;
    max-width: 263px;
    min-width: 263px; 
    height: 36px !important;
}

.uiForm .Fields .Field input[type=text] {
    font-family: 'Roboto Thin' , sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    line-height: normal;
    padding: .67857143em 1em;
    font-size: 14px;
    background: #fff;
    border: none;
    color: #2c3539;
    border-radius: none;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
}

.uiForm .Fields .Field input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d0d0d0;
    opacity: 1; /* Firefox */
  }

.dropSizing {
    width: auto;
}

/*  */
.uiForm .Field>.selection.dropdown {
    width: 100%;
}
.uiForm.selection.dropdown {
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    min-width: 14em;
    min-height: 2.71428571em;
    background: red !important;
    display: inline-block;
    padding: .78571429em 2.1em .78571429em 1em;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
    transition: width .1s ease,-webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease,-webkit-box-shadow .1s ease;
}

.uiForm.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: 0;
    text-align: left;
    -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
    transition: width .1s ease,-webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease,-webkit-box-shadow .1s ease;
    -webkit-tap-highlight-color: transparent;
}

.uiForm.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: rgba(191,191,191,.87);
}

.uiForm.dropdown>.text {
    display: inline-block;
    -webkit-transition: none;
    transition: none;
} 

/*  */

.uiButton {
    background: #ed1c24;
    color: #ffffff;
    border: none;
    font-family: 'Roboto Regular', 'Arial', 'Helvetica', sans-serif;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    vertical-align: baseline;
    margin: 0 0 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}



/* lg */
@media only screen and (min-width: 922px) {
    .uiForm .Field .uiInput, .uiForm .Fields .Field .uiInput {
        width: 300px;
    }

    .uiForm .Field .uiInput input, .uiForm .Fields .Field .uiInput input {
        width: 300px;
    }
}

/* md */
@media   (min-width: 768px) {
    
}

/* sm */
@media  (max-width: 768px)  {
    
    .uiForm .Field .uiInput, .uiForm .Fields .Field .uiInput {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .uiForm .Field .uiInput input, .uiForm .Fields .Field .uiInput input {
        width: 250px;
        max-width: 250px;
        min-width: 250px;
    }

    .dropSizing {
        min-width: 180px !important;
        max-width: 180px !important;
        width: 180px !important;
    }

    .uiButton {
        margin-left: -13px !important;
        width: 100% !important;
    }

}

/* xs */
@media  (max-width: 576px) {
    
    .uiForm .Field .uiInput, .uiForm .Fields .Field .uiInput {
        width: 300px !important;
        max-width: 300px !important;
        min-width: 300px !important;
    }

    .uiForm .Field .uiInput input, .uiForm .Fields .Field .uiInput input {
        width: 300px !important;
        max-width: 300px !important;
        min-width: 300px !important;
    }

    .dropSizing {
        width: auto;
    }

    .uiButton {
        width: 100% !important;
    }
    
}