.sizing {
    margin: 0;
    padding: 0;
}

.Toolbar {
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #ed1c24; */
    background-color: #666664;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .Toolbar {
        height: 30px;
    }

    .DesktopOnly {
        display: none;
    }
}