.SchoolTitle {
   text-align: center;
   font-size: 60px;
   font-family: 'Lobster', cursive;
   font-weight: 100;
   color: green;
}
.Started {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    text-align: center;
}
.Auth {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    /* border: 1px solid orangered; */
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.Logo {
    border-radius: 50%;
    height: 100px !important;
    width: 100px !important;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}